<head>
  <title><%=(locals.title) ? title : "OPRF Walkout" %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/boostrap.min.css'>
  <script src='/js/jquery.min.js'></script>
  <script src='/js/boostrap.min.js'></script>
  <script src='/js/rellax.min.js'></script>
</head>
